<div class="jumbotron">   
     <div class= 'container text-center'>
        <h1>Welcome to the Nerdy Book Repository</h1>
            <p>Where nerds can get their geek on.</p>
            <p>Checkout our nerdy book submissions <%=link_to 'here',books_path%></p>
    </div>
</div>
