 <%= render 'welcomes/welcome' unless user_signed_in? %>
<h1><%=@page_title%></h1>
<p>This a a bookstore where we sell tons of books </br>
Thank you for taking a look and well help with whatever books you need.</p>