@import "bootstrap-sprockets";
@import "bootstrap";


/* Move nav bar to top of page */
nav {
     width: 100%;
     position: absolute;
     top: 0;
     }

/* Move banner down below top nav bar */
#banner, #pagebody {
     position: relative;
     top: 30px;
     }